#_helpButton{
    -fx-graphic: url('../assets/help.png');
}

#_playAudioButton{
    -fx-graphic: url('../assets/play.png');
}

#_deleteAudioButton{
    -fx-graphic: url('../assets/trash.png');
}

#_nextButton{
    -fx-graphic: url('../assets/next.png');
}

#_playTextButton{
    -fx-graphic: url('../assets/play.png');
}

#_createAudioButton{
    -fx-graphic: url('../assets/save.png');
}

#_mainMenuButton{
    -fx-graphic: url('../assets/quit.png');
}
