#_helpButton{
    -fx-graphic: url('../assets/help.png');
}

#_helpImage{
	-fx-opacity: 1.0;
}

#_playButton{
    -fx-graphic: url('../assets/play.png');
}

#_deleteButton{
    -fx-graphic: url('../assets/trash.png');
}

#_addButton{
	-fx-graphic: url("../assets/add.png");
}

#_settingsButton{
	-fx-graphic: url("../assets/settings.png");
}

#_quizButton{
	-fx-graphic: url("../assets/quiz.png");
}