#_playButton{
	 -fx-graphic: url('../assets/play.png');
}

#_helpButton{
    -fx-graphic: url('../assets/help.png');
}

#_backButton{
    -fx-graphic: url('../assets/quit.png');
}

#_nextButton{
    -fx-graphic: url('../assets/next.png');
}

#_linkButton{
	-fx-graphic: url('../assets/link.png');
}

#_noMusicImage{
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 20, 0, 0, 0);
}

#_profilePic{
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
}

#_tag{
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
}