#_mainMenuButton{
 -fx-graphic: url('../assets/quit.png');
}

#_tryAgainButton{
 -fx-graphic: url('../assets/restart.png');
}

#_medal{
 -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 20, 0, 0, 0);
}
